.error {

  &__block {
    background-image: url("#{$path}/img/pages/error/404_bg.png");
    background-repeat: no-repeat;

    @media all and (min-width: 1169px) {
      background-position-x: -9px;
    }

    @media all and (max-width: 1168px) and (min-width: 768px) {
      background-position-x: -576px;
    }

    @media all and (max-width: 767px) {
      background-position-x: -800px;
    }

  }

  &__content {
    text-align: center;

    @media all and (min-width: 1169px) {
      padding-top: 312px;
      padding-bottom: 339px;
    }

    @media all and (max-width: 1168px) and (min-width: 768px) {
      margin-bottom: -56px;
      padding-top: 202px;
      padding-bottom: 475px;
    }

    @media all and (max-width: 767px) {
      margin-bottom: -500px;
      padding-top: 98px;
      padding-bottom: 598px;
    }

  }

  &__image {
    max-width: 191px;

    @media all and (min-width: 768px) {
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
    }

    @media all and (max-width: 1139px) {
      margin-right: auto;
      margin-left: auto;
    }

    @media all and (max-width: 767px) {
      max-width: 95px;
      margin-bottom: 33px;
    }

  }

  &__title {
    width: 100%;
    color: #ffffff;

    @media all and (min-width: 768px) {
      margin-bottom: 88px;
    }

    @media all and (max-width: 767px) {
      margin-bottom: 17px;
    }

  }

  &__link {
    display: inline-block;
    width: 277px;
    text-decoration: none;
    @extend %button-default;
    @extend %btn-type-submit;

    &::after {
      right: 25px;
    }

  }

}