doctype html
html(lang="en")
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='apple-touch-icon' href="{{ asset('bundles/app/img/favicon/favicon.png') }}" sizes='120x120')
    link(rel='icon' type='image/png' href="{{ asset('bundles/app/img/favicon/favicon.png') }}" sizes='16x16')
    link(rel='icon' type='image/png' href="{{ asset('bundles/app/img/favicon/favicon.png') }}" sizes='32x32')
    link(rel='icon' type='image/png' href="{{ asset('bundles/app/img/favicon/favicon.png') }}" sizes='96x96')
    title Main
    each css in htmlWebpackPlugin.files.css
        link(href=css, rel='stylesheet')
